	<div class="calendar">
		<div class="day next">
			<div class="date">
				<h1>Tomorrow</h1>
			</div><!-- date -->
		</div><!-- day next -->
		<div class="day previous">
			<div class="date">
				<h1>Yesterday</h1>
			</div><!-- date -->
		</div><!-- day previous -->
		<div class="day current">
			<div class="date">
				<h1>Sunday</h1>
				<h1><i class="fa fa-angle-left"></i> Today <i class="fa fa-angle-right"></i></h1>
			</div><!-- date -->	
			<div class="tasks">
				<span>
					<a href="" class="options"><i class="fa fa-pencil-square-o"></i></a>
					<a href="" class="options"><i id="checkbox" class="fa fa-square-o" onClick="toggleTask()"></i></a>	
				</span>
				<span>
					<h2>Walk the dog</h2>
				</span>
			</div><!-- tasks -->
			<div class="tasks">
				<span>
					<a href="" class="options"><i class="fa fa-pencil-square-o"></i></a>
					<a href="" class="options"><i id="checkbox" class="fa fa-check-square-o" onClick="toggleTask()"></i></a>				
				</span>
				<span>
					<h2>Read for 30 minutes</h2>
				</span>
			</div><!-- tasks -->
			<div class="tasks">
				<span>
					<a href="" class="options"><i class="fa fa-pencil-square-o"></i></a>
					<a href="" class="options"><i id="checkbox" class="fa fa-square-o"></i></a>	
				</span>
				<span>
					<h2>Publish to Github</h2>
				</span>
			</div><!-- tasks -->
			<div class="addNew">
				<span>
					<a href="" class="addBtn"><i class="fa fa-plus-square-o" onClick="addTask()"></i></a>
				</span>
			</div>
		</div><!-- day current -->
	</div>	