		<nav class="mainNav">
			<div class="container">
				<div class="iconcontainer">
					<div>
						<a href="" title="Log Out"><i class="fa fa-power-off"></i></a>
					</div>
					<div>
						<a href="#/settings" title="Settings"><i class="fa fa-cog"></i></a>
					</div>
					<div>
						<a href="#/profile" title="My Profile"><i class="fa fa-user"></i></a>
					</div>
					<div>
						<a href="" title="Achievements"><i class="fa fa-shield"></i></a>
					</div>
					<div>
						<a href="#/tasks" title="Add New"><i class="fa fa-plus"></i></a>
					</div>								
					<div>
						<a href="#/" title="My Tasks"><i class="fa fa-calendar"></i></a>
					</div>
				</div><!-- iconcontainer -->
			</div><!-- container -->
		</nav>