	<div onload="registrationPop()">
		<form name="registration_form" ng-submit="register()">
		<fieldset>
			<legend>Update Your Settings</legend>
				<div class="row">
					<div class="small-5 columns">
						<label>Name</label>
							<input type="text" ng-model="user.firstName" placeholder="First Name" name="firstname" ng-maxlength=20 ng-pattern="/^[a-zA-Z]+$/" class="small-3" required />
								<div ng-show="registration_form.firstName.$dirty && form.firstName.$invalid">
									<div ng-show="registration_form.firstName.$error.required">You must provide your first name</div>
									<div ng-show="registration_form.firstName.$error.maxlength">Your name must be fewer than 21 alpha characters</div>
								</div>
							<input type="text" ng-model="user.lastName" placeholder="Last Name" name="lastname" ng-maxlength=20 ng-pattern="/^[a-zA-Z]+$/" class="small-3" required />
								<div ng-show="registration_form.lastname.$dirty && registration_form.lastname.$invalid">

								</div>

						<label>Email Address</label>
							<input type="email" ng-model="user.email" placeholder="email" name="email" required />
								<div ng-show="registration_form.email.$dirty && registration_form.email.$invalid">
									Please provide a valid email address
								</div>
						<label>Password</label>
						<input type="password" ng-model="user.password" placeholder="Password" name="password" required />
						<input type="password" ng-model="user.repeatPassword" placeholder="Repeat Password" name="repeatPassword" required />
					</div><!-- .=small-8 colums -->
					<div class="small-4">								
						<button type="submit" class="button" ng-submit="register(user)">Register</button>
					</div><!-- .push-6 small-4 -->
				</div><!-- .row -->
			</fieldset>
		</form>
	</div>